In [72]:
import pandas as pd
import numpy as np
import math

In [69]:
data = pd.read_csv('upload_fileupload.csv')



#Removing Duplicates and keeping last one
data = data.drop_duplicates(subset=['name'], keep='last')
print(data)

      id                    file_uploaded  public_ip  \
8      9          POD20Q1QP2S21610324.pdf  49.37.7.1
10    11          POD20Q1QP3S21700070.pdf  49.37.7.1
11    12          POD20Q1QP1S11670509.pdf  49.37.7.1
14    15          POD20Q1QP2S21670462.pdf  49.37.7.1
16    17          POD20Q1QP3S21420017.pdf  49.37.7.1
..   ...                              ...        ...
320  321          POD20Q1QP2S21740319.pdf  49.37.7.1
322  323  POD20Q1QP2S21350076_itr30mG.pdf  49.37.7.1
323  324        POD20Q1QP3S21670453_2.pdf  49.37.7.1
324  325          POD20Q1QP1S11140218.pdf  49.37.7.1
325  326          POD20Q1QP3S21880010.pdf  49.37.7.1

                             name  paper_code  total_marks  engcount  ctcount  \
8            YADAV AKASH SHREERAM           2       133.83        40     39.0
10                AYUSH KUMAR JHA           3        76.00        34     23.5
11                   DIVYAM ARORA           1       132.17        45     40.5
14                ISHIKA JAGWAYAN           2       135.00        46     24.0
16                   SUJOY BHADRA           3        87.33        41     24.0
..                            ...         ...          ...       ...      ...
320       ALANKRITA PRIYADARSHINI           2       171.50        46     41.0
322                ARVIND KUMAR S           2       125.67        41     42.0
323               PRIYANSHU SINGH           3       150.67        45     43.5
324  GANESH VENKATA SURYA PUPPALA           1       101.33        39     20.0
325            JAMEEL KAISAR KHAN           3       184.00        46     50.0

     statcount  mathcount
8         28.5      26.33
10        16.5       2.00
11        31.0      15.67
14        28.0      37.00
16         9.0      13.33
..         ...        ...
320       39.5      45.00
322       22.0      20.67
323       32.5      29.67
324       23.0      19.33
325       41.0      47.00

[217 rows x 10 columns]

In [8]:
data[data['name'] == 'DIPTAM PAUL']

,id,file_uploaded,public_ip,name,paper_code,total_marks,engcount,ctcount,statcount,mathcount
249,250,POD20Q1QP3S21490766_iYsuv4k.pdf,49.37.7.1,DIPTAM PAUL,3,156.0,44,45.0,33.33,33.67

In [11]:
import pandas as pd
import numpy as np
 
#Create a DataFrame
d = {
    'Name':['Alisa','Bobby','Cathrine','Madonna','Rocky','Sebastian','Jaqluine',
   'Rahul','David','Andrew','Ajay','Teresa'],
   'Score1':[62,47,55,74,31,77,85,63,42,32,71,57],
   'Score2':[89,87,67,55,47,72,76,79,44,92,99,69],
   'Score3':[56,86,77,45,73,62,74,89,71,67,97,68]}

df = pd.DataFrame(d)
answer= df.std()
print(df)
print("The standard deviations of the 3 columns are:")
print (answer)

         Name  Score1  Score2  Score3
0       Alisa      62      89      56
1       Bobby      47      87      86
2    Cathrine      55      67      77
3     Madonna      74      55      45
4       Rocky      31      47      73
5   Sebastian      77      72      62
6    Jaqluine      85      76      74
7       Rahul      63      79      89
8       David      42      44      71
9      Andrew      32      92      67
10       Ajay      71      99      97
11     Teresa      57      69      68
The standard deviations of the 3 columns are:
Score1    17.446021
Score2    17.653225
Score3    14.355603
dtype: float64

In [91]:
data_code_1 = data[data['paper_code']==1].sort_values(by='total_marks', ascending=False)
len_data_code_1 = len(data_code_1)
data_code_1.reset_index(inplace = True)
top_10_data_code_1 = data_code_1.loc[:math.ceil(len_data_code_1*0.1)]
avg_top_10_data_code_1 = np.mean(top_10_data_code_1['total_marks'].to_numpy())
total_avg_data_code_1 = np.mean(data_code_1['total_marks'].to_numpy())
total_sd_data_code_1 = np.std(data_code_1['total_marks'].to_numpy())
sum_mean_SD_data_code_1 = total_avg_data_code_1 + total_sd_data_code_1




data_code_2 = data[data['paper_code']==2].sort_values(by='total_marks', ascending=False)
len_data_code_2 = len(data_code_2)
data_code_2.reset_index(inplace = True)
top_10_data_code_2 = data_code_2.loc[:math.ceil(len_data_code_2*0.1)]
avg_top_10_data_code_2 = np.mean(top_10_data_code_2['total_marks'].to_numpy())
total_avg_data_code_2 = np.mean(data_code_2['total_marks'].to_numpy())
total_sd_data_code_2 = np.std(data_code_2['total_marks'].to_numpy())
sum_mean_SD_data_code_2 = total_avg_data_code_2 + total_sd_data_code_2




data_code_3 = data[data['paper_code']==3].sort_values(by='total_marks', ascending=False)
len_data_code_3 = len(data_code_3)
data_code_3.reset_index(inplace = True)
top_10_data_code_3 = data_code_3.loc[:math.ceil(len_data_code_3*0.1)]
avg_top_10_data_code_3 = np.mean(top_10_data_code_3['total_marks'].to_numpy())
total_avg_data_code_3 = np.mean(data_code_3['total_marks'].to_numpy())
total_sd_data_code_3 = np.std(data_code_3['total_marks'].to_numpy())
sum_mean_SD_data_code_3 = total_avg_data_code_3 + total_sd_data_code_3




total_data = data.sort_values(by='total_marks', ascending=False)
len_total_data = len(total_data)
total_data.reset_index(inplace = True)
top_10_total_data = total_data.loc[:math.ceil(len_total_data*0.1)]
avg_top_10_total_data = np.mean(top_10_total_data['total_marks'].to_numpy())



total_avg_data = np.mean(data['total_marks'].to_numpy())
total_SD = np.std(data['total_marks'].to_numpy())
sum_mean_SD = total_avg_data + total_SD

sum_mean_SD_data_code_3

155.4508856135912

In [105]:
M_ij = 100  #Scored Value

In [107]:
Normalized_score = (((avg_top_10_total_data - sum_mean_SD)/(avg_top_10_data_code_2 - sum_mean_SD_data_code_2)) * (M_ij - sum_mean_SD_data_code_2)) + sum_mean_SD
Normalized_score

97.27698569608287